<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HomeCookingProject.Properties.Settings.HomeCookingConnectionString"
            connectionString="Data Source=DESKTOP-H3B32JA\SQLEXPRESS;Initial Catalog=HomeCooking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>